body 	{
		text-align: left;
		color: #222;
		line-height: 18pt;
		font-size: 12pt;
		width: 1250px;
		margin: auto auto;
}
	
h1, h2, h3, h4 {
	margin: 1em 0 0.5em 0;
}

h1 {
	font-size: 24pt;
	font-weight: normal;
	margin-top: 1em;
}

h2 {
	font-weight: normal;
	color: #515964;
}

pre.prettyprint {
    overflow: auto;
    font-size: 11pt;
    line-height: 12pt;
}

tbody tr {
    font-size: 10pt;
}

.warn {
	color: red;
	opacity: 0.6;
	font-style: italic;
}

div.tools ul li {
	margin: 8px !important;
}

.borderSettings {
    width: 452px;
    font-size: 12pt;
    padding: 8px;
}

.borderSettings table {
	border-collapse: separate;
	border-spacing: 8px 0;
}

.borderSettings td *, .borderSettings td {
	width: 85px;
}

.borderSettings p {
	margin: 0;
    padding: 4px;
}

.code {
    background-color: #ddd;
    font-family: monospace;
    padding: 2px;
    font-size: 12pt;
}

.required, .optional {
	font-size: 10pt;
	margin: 4px;
}

.required {
	color: red;
}

.optional {
	color: steelblue;
}

.ui-dialog {
    width: auto !important;
}
input[type="file"] {
    display: none;
}
.fileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.mkc .qtip-content{
    font-size: 10pt;
    line-height: 12pt;
    padding: 8px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable div table {
    border-collapse: separate;
    border-spacing: 8px 0;
}
